.scroll-animated-text {
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  
  @media (max-width: 768px) {
    .scroll-animated-text {
        text-align: center;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        white-space: nowrap;
        gap: 0.5rem;
      
      }
  
    .scroll-animated-text span {
      display: block;
      width: 100%;
    }
  
    .scroll-animated-text span:last-child {
      margin-top: 5rem;
    }
    .split-text-container {
        font-size: 1.5rem;
        flex-direction: column;
        gap: 0.3rem;
      }
      
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.1);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  .button-72 {
    align-items: center;
    background-color: initial;
    background-image: transparent;
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(124, 90, 168, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #ffffffb7;
    cursor: pointer;
    display: flex;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: .06em;
    line-height: 12px;
    padding: 14px 78px;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px, rgba(255, 255, 255, 0.2) 0 0 12px, rgba(136, 111, 169, 0.6) 1px 1px 4px, rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-72:hover {
    background-image: linear-gradient(#09010c, #1f043e 50%);
  }
  
  @media (min-width: 768px) {
    .button-72 {
      font-size: 25px;
      padding: 18px 34px;
    }
  }
  .split-text-container {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #cab3bea0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    white-space: nowrap;
  }
  
  .text-part.left {
    transform: translateX(-100%);
    animation-name: slide-in-left;
  }
  
  .text-part.right {
    transform: translateX(100%);
    animation-name: slide-in-right;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .more-about-text {
    color: #c5b8c0dc;
    font-size: 13px;
  }
  
 
  @media (min-width: 768px) {
    .split-text-container {
      font-size: 2.5rem; 
    }

    .more-about-text {
        font-size: 18px !important;  
      }
  
    .scroll-animated-text {
      font-size: 2rem;
    }
  
    .scroll-animated-text span {
      font-size: 5rem;
    }
  
    .button-72 {
      font-size: 24px;
      padding: 15px 500px;
    }
  }
  